<div class="left">
	<header>
 		<a href="./main.html">
 			<h1>LIBRARY <br/> &nbsp;&nbsp;&nbsp;in CRA </h1>
 			<p>Database System</p>
	 	</a>

 		<ul>
 			<li><a href="../controller/first.html">BORROW </a></li>
 			<li><a href="../controller/second.html">RETURN </a></li>
 			<li><a href="../controller/third.html">HISTORY </a></li>
 			<li><a href="../controller/fourth.html">REQUEST </a></li>
 			<!-- <li><a href="./fifth.html">Places </a></li><br/>
 			<li><a href="https://www.facebook.com/Ahyeaa">Facebook </a></li>
 			<li><a href="https://twitter.com/Hyeeea">Twitter </a></li>
 			<li><a href="mailto:hyeeea@gmail.com">E-mail</a></li> -->
 		</ul>
 	</header>
 	<aside>
 	 		<a href="./admin.html">Admin</a>
 	</aside>
 	<aside>
 		<a href="http://i7.handong.edu" target="_blank">I7</a>
 	</aside>
 	
	<footer>
		<p>code by CRA</p>
	</footer>
	
</div>